<img src = "../images/logos.png" width = 600, align = "center">
<br>
<h1 align=center><font size = 5>Chipoltle</font></h1>
<h2 align=center><font size = 5>Filtrer et Trier</font></h2>

### 1. Importer les librairies nécessaires

In [56]:
import pandas as pd
import numpy as np

### 2. Recharger le jeu de données chipoltle.csv dans un dataFrame nommé chipo

In [57]:
data = pd.read_csv('data/chipotle.tsv', sep='\t')
data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

###  3. Combien de produits coûtent plus de $10.00?

In [58]:
data.fillna('')
data.item_price = data.item_price.apply(lambda x: float(x[1:]))
data.head()

In [102]:
dataInf10 = data[data.item_price >= 10]

dataInf10UniqueItem = dataInf10['item_name'].unique()
len(dataInf10UniqueItem)

31

###  4. Quel est le prix de chaque produit ? 
###### Afficher un dataframe de 2 colonnes item_name et item_price

In [164]:
data['item_price_unit'] = data['item_price']/data['quantity']
dataNamePrice = ['item_name' , 'item_price_unit']
dataNamePriceUnique = data[dataNamePrice].drop_duplicates()
dataNamePriceUnique

                                  item_name  item_price_unit
0              Chips and Fresh Tomato Salsa             2.39
1                                      Izze             3.39
2                          Nantucket Nectar             3.39
3     Chips and Tomatillo-Green Chili Salsa             2.39
4                              Chicken Bowl             8.49
...                                     ...              ...
3989                          Chicken Salad             8.19
4235                           Chicken Bowl             8.50
4237                    Chips and Guacamole             4.25
4509                                  Chips             1.99
4510                          Barbacoa Bowl            11.49

[139 rows x 2 columns]

### 5. Trier nom d'article

In [165]:
sorted(dataNamePriceUnique['item_name'].unique())

['6 Pack Soft Drink',
 'Barbacoa Bowl',
 'Barbacoa Burrito',
 'Barbacoa Crispy Tacos',
 'Barbacoa Salad Bowl',
 'Barbacoa Soft Tacos',
 'Bottled Water',
 'Bowl',
 'Burrito',
 'Canned Soda',
 'Canned Soft Drink',
 'Carnitas Bowl',
 'Carnitas Burrito',
 'Carnitas Crispy Tacos',
 'Carnitas Salad',
 'Carnitas Salad Bowl',
 'Carnitas Soft Tacos',
 'Chicken Bowl',
 'Chicken Burrito',
 'Chicken Crispy Tacos',
 'Chicken Salad',
 'Chicken Salad Bowl',
 'Chicken Soft Tacos',
 'Chips',
 'Chips and Fresh Tomato Salsa',
 'Chips and Guacamole',
 'Chips and Mild Fresh Tomato Salsa',
 'Chips and Roasted Chili Corn Salsa',
 'Chips and Roasted Chili-Corn Salsa',
 'Chips and Tomatillo Green Chili Salsa',
 'Chips and Tomatillo Red Chili Salsa',
 'Chips and Tomatillo-Green Chili Salsa',
 'Chips and Tomatillo-Red Chili Salsa',
 'Crispy Tacos',
 'Izze',
 'Nantucket Nectar',
 'Salad',
 'Side of Chips',
 'Steak Bowl',
 'Steak Burrito',
 'Steak Crispy Tacos',
 'Steak Salad',
 'Steak Salad Bowl',
 'Steak Soft Tacos',
 'Veggie Bowl',
 'Veggie Burrito',
 'Veggie Crispy Tacos',
 'Veggie Salad',
 'Veggie Salad Bowl',
 'Veggie Soft Tacos']

### 6. Quelle était la quantité commandée de l'article le plus cher ?

In [166]:
dataPriceUnitMax = dataNamePriceUnique.sort_values(['item_price_unit'], ascending=False)
articleMoreExpensive = dataPriceUnitMax.iloc[0][0]

data[data.item_name==articleMoreExpensive].quantity.sum()

31

### 7. Combien de fois l'article Veggie Salad Bowl a t-il été commandé?

In [167]:
len(data[data.item_name=='Veggie Salad Bowl'])

18

### 8. Combien de commandes comportent plus d'une Canned Soda?

In [179]:
data[(data.item_name=='Canned Soda') & (1 < data.quantity)]
#len(data[(data.item_name=='Canned Soda') & (1 < data.quantity)])

,order_id,quantity,item_name,choice_description,item_price,item_price_unit
18,9,2,Canned Soda,[Sprite],2.18,1.09
51,23,2,Canned Soda,[Mountain Dew],2.18,1.09
162,73,2,Canned Soda,[Diet Coke],2.18,1.09
171,76,2,Canned Soda,[Diet Dr. Pepper],2.18,1.09
350,150,2,Canned Soda,[Diet Coke],2.18,1.09
352,151,2,Canned Soda,[Coca Cola],2.18,1.09
698,287,2,Canned Soda,[Coca Cola],2.18,1.09
700,288,2,Canned Soda,[Coca Cola],2.18,1.09
909,376,2,Canned Soda,[Mountain Dew],2.18,1.09
1091,450,2,Canned Soda,[Dr. Pepper],2.18,1.09
1092,450,2,Canned Soda,[Coca Cola],2.18,1.09
1944,787,2,Canned Soda,[Dr. Pepper],2.18,1.09
2135,859,2,Canned Soda,[Diet Coke],2.18,1.09
2235,901,4,Canned Soda,[Sprite],4.36,1.09
2905,1156,2,Canned Soda,[Coca Cola],2.18,1.09
2906,1156,2,Canned Soda,[Sprite],2.18,1.09
3152,1258,2,Canned Soda,[Dr. Pepper],2.18,1.09
3364,1349,2,Canned Soda,[Coca Cola],2.18,1.09
3592,1440,2,Canned Soda,[Diet Coke],2.18,1.09
3866,1550,2,Canned Soda,[Mountain Dew],2.18,1.09

<hr>
Copyright &copy; 2020 Hatem & Driss @NEEDEMAND