<img src = "../images/logos.png" align = "center">
<br>
<h1 align=center><font size = 5>Occupation</font></h1>
<h2 align=center><font size = 5>Grouper</font></h2>

### 1. Importer les librairies nécessaires

In [2]:
import pandas as pd

### 2. Importer le jeu de données users.csv

### 3. Affecter les données à une variable users.

In [3]:
users = pd.read_csv('data/users.csv')
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### 4. Quel est l'age moyen par profession ?

In [6]:
ageMoyenByProfession = users.groupby('occupation').age.mean()
pd.DataFrame(ageMoyenByProfession)

                     age
occupation
administrator  38.746835
artist         31.392857
doctor         43.571429
educator       42.010526
engineer       36.388060
entertainment  29.222222
executive      38.718750
healthcare     41.562500
homemaker      32.571429
lawyer         36.750000
librarian      40.000000
marketing      37.615385
none           26.555556
other          34.523810
programmer     33.121212
retired        63.071429
salesman       35.666667
scientist      35.548387
student        22.081633
technician     33.148148
writer         36.311111

### 5. Quel est le pourcentage d'hommes par profession. Trier le résultat par ordre décroissant.
On pourra utiliser l'argument normalize ainsi que la fonction d'accès aux données xs

In [33]:
professionByGender = (users.groupby(['occupation']).gender.value_counts(normalize=True)*100).sort_values(ascending=False)

professionPercentageMale = professionByGender.xs('M',level=1)

pd.DataFrame(professionPercentageMale)

                   gender
occupation
doctor         100.000000
engineer        97.014925
technician      96.296296
retired         92.857143
programmer      90.909091
executive       90.625000
scientist       90.322581
entertainment   88.888889
lawyer          83.333333
salesman        75.000000
educator        72.631579
student         69.387755
other           65.714286
marketing       61.538462
writer          57.777778
none            55.555556
administrator   54.430380
artist          53.571429
librarian       43.137255
healthcare      31.250000
homemaker       14.285714

### 6. Afficher les ages mini et maxi pour chaque profession ?

In [ ]:
minMaxAgeOccupation =

### 7. Quels sont les ages moyens par profession et par sexe ?

<hr>
Copyright &copy; 2020 Hatem & Driss @NEEDEMAND