<img src = "../images/logos.png" width = 600, align = "center">
<br>
<h1 align=center><font size = 5>Importer et Explorer</font></h1>

### 1. Importer les librairies nécessaires

In [1]:
import pandas as pd
import numpy as np

###  2. Importer le jeu de données depuis le fichier chipotle.tsv sur le drive

### 3. Affecter les données à une variable de type DataFrame nommée data.

In [107]:
data = pd.read_table("data/chipotle.tsv", sep='\t' )

### 4. Afficher les 10 premières entrées.

In [108]:
data.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

###  5. Combien y a t-il d'observations dans le jeu de données ?

In [109]:
# Solution 1
len(data)

4622

In [110]:
# Solution 2
data.shape

(4622, 5)

### 6. Combien y a t-il de colonnes dans le jeu de données ?

In [112]:
len(data.columns)

5

### 7. Afficher les noms des colonnes

In [113]:
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 8. Comment le dataFrame est-il indexé ?

In [114]:
data['order_id'].index.is_unique

True

### 9. Quel est l'article le plus commandé?

In [125]:
dataByItem = data.copy()
dataByItem = data.groupby('item_name').sum()
dataByItem = dataByItem.sort_values(['quantity'], ascending=False)
maxiByItem = dataByItem.head(1)
maxiByItem

              order_id  quantity
item_name
Chicken Bowl    713926       761

### 10. Combien ont été commandés?

In [123]:
maxiByItem.quantity[0]

761

### 11. Quel a été l'article le plus commandé dans la colonne choice_description ?

In [129]:
dataByArticle = data.copy()
dataByArticle.dropna().set_index('choice_description')
#.dropna supprime toutes les lignes sans description
dataByArticle.head()

qteByArticle = {}
for name in dataByArticle.index : 
    qteByArticle[name] = dataByArticle.loc[name].quantity.sum()
    
maxiArticle = sorted(qteByArticle.items(), key=lambda x: x[1], reverse=True)[0]
maxiArticle

(3598, 15)

###  12. Combien d'articles ont été commandés au total ?

In [127]:
maxiArticle[1]

15

###  13. Changer le type du prix en float

####  13.a. Afficher le type du prix

In [95]:
data.dtypes['item_price']

dtype('O')

#### 13.b. Créer une fonction lambda et changer le type du prix

####  13.c. Verifier le transtypage éffectué

###  14. Quel est le montant total de la recette pour la période ?

###  15. Combien de commandes ont été passées durant la période ?

###  16. Combien d'arfticles différents ont été vendus?

<hr>
Copyright &copy; 2020 Hatem & Driss @NEEDEMAND