<img src="../images/logos.png" align="center">
<br>
<h1 align=center><font size = 5>Statistiques : Noms des enfants US de 2004 à 2014</font></h1>

### 1. Import des librairies

In [2]:
import pandas as pd

### 2. Télécharger le jeu de données depuis babyNames.csv depuis le drive

### 3. Stocker les données dans un dataframe *baby_names*.

In [3]:
baby_names = pd.read_csv('babyNames.csv')

### 4. Afficher les 10 premières lignes

In [4]:
baby_names.head(10)

   Unnamed: 0  Unnamed: 0.1     Id      Name  Year Gender State  Count
0           0         11349  11350      Emma  2004      F    AK     62
1           1         11350  11351   Madison  2004      F    AK     48
2           2         11351  11352    Hannah  2004      F    AK     46
3           3         11352  11353     Grace  2004      F    AK     44
4           4         11353  11354     Emily  2004      F    AK     41
5           5         11354  11355   Abigail  2004      F    AK     37
6           6         11355  11356    Olivia  2004      F    AK     33
7           7         11356  11357  Isabella  2004      F    AK     30
8           8         11357  11358    Alyssa  2004      F    AK     29
9           9         11358  11359    Sophia  2004      F    AK     28

### 5. Supprimer les colonnes 'Unnamed: ...' et 'Id'

In [10]:
baby_names.drop(['Unnamed: 0','Unnamed: 0.1', 'Id'], axis='columns', inplace=True)

KeyError: "['Id'] not found in axis"

### 6. Y a t-il une majorité de noms masculins ou feminins dans ce jeu de données ?

### 7. Combien de noms différents y a t-il dans ce jeu de données ?

### 8. Quel est le nom le plus fréquent ?

### 9. Combien de noms différents ont la plus basse occurence ?

### 10. Quelle est l'occurence médiane ?

### 11. Quel est l'écart-type des occurences de noms ?

### 12. Afficher un résumé statistiques : moyenne, min, max, ecart-type et quartiles, sur laes occurences de noms

<hr>
Copyright &copy; 2020 Hatem & Driss @NEEDEMAND