<img src = "../images/logos.png" width = 600, align = "center">
<br>
<h1 align=center><font size = 5>The Army</font></h1>
<h2 align=center><font size = 5>Filtrer et Trier</font></h2>

### Introduction:

Ce notebook est inspiré de cette [page](http://chrisalbon.com)

### 1. Importer les librairies nécessaires

In [1]:
import pandas as pd
import numpy as np

### 2. Les données se présentent sous la forme d'un dictionnaire

In [2]:
# Create an example dataframe about a fictional army
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

#### Créer un dataframe de données nommé army. 

##### Attention à respecter l'ordre original des colonnes

### 3. Définir la colonne 'origin' comme index du dataframe

### 5. Afficher la colonne des veterans

### 6. Aficher les colonnes 'veterans' et 'deaths'

### 7. Afficher la liste des colonnes.

### 8. Selectionner les colonnes 'deaths', 'size' et 'deserters' du Maine et de l'Alaska

### 9. Selectionner les lignes de 3 à 7 et les colonnes de 3 à 6

### 10. Selectionner toutes les lignes à partir de la 4ème

### 11. Selectionner les 4 premières lignes

### 12. Selectionner les colonnes de 3 à 7

### 13. Selectionner les lignes pour lesquelles il y a plus de 50 morts

### 14. Selectionner les lignes pour lesquelles le nombre de morts est plus grand que 500 ou plus petit que 50

### 15. Selectionner tous les régiments autres que "Dragoons"

### 16. Selectionner toutes les lignes nommées Texas et Arizona

### 17. Selectionner la troisième cellule de la ligne Arizona

### 18. Selectionner la troisième cellulede la colonne deaths

<hr>
Copyright &copy; 2020 Hatem & Driss @NEEDEMAND